@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black-color: #000000;
  --transparent-black: rgba(0,0,0,0.8);
  --light-black-color: hsla(0, 0%, 0%, 0.5);
  --text-gray-color-1: #AEAEAE;
  --text-gray-color-2: #ACA9A9;
  --text-heading-color: #333D42;
  --line-color: #CCCCCC;
  --box-background: #E5EBEE;
  --light-white-color: rgba(255,255,255,0.9);
  --image-block: #2b313c63;

  --main-color: #EF7575;
  --button-color: #EF9575;
  --light-button-color: #ef9575b3;
  --input-border-color: #E8AC54;
  --warning-color: #FF0000;
  --warning-message-background: #FF4B4B;
  --image-backround: #FFD4C5;
  --online-color: #0ec70ab3;
  --vote-down-color: #545AE8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@layer utilities {
  .middle-line {
    text-align: center;
    color: var(--text-gray-color-1);
  }

  .middle-line::after,
  .middle-line::before {
    background-color: var(--text-gray-color-1);
    content: "";
    display: inline-block;
    height: 2px;
    position: relative;
    vertical-align: middle;
    width: 30%;
  }
  
  .middle-line::before {
    right: 0.5em;
    margin-left: -50%;
  }
  
  .middle-line::after {
    left: 0.5em;
    margin-right: -50%;
  }

  .blurry-bg::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100vh;
    backdrop-filter: blur(2px);
  }

  @keyframes slide-in {
    100% { transform: translateX(0%); }
  }

  .slider {
    transform: translateX(24px);
    animation: slide-in 0.3s forwards;
  }

  .active {
    @apply bg-mainColor text-white
  }

  .orms-input > .orms-input-label {
    transition: top .2s;
  }

  .orms-input > input:focus + .orms-input-label,
  .orms-input > input:valid + .orms-input-label {
    top: -16px;
  }

  .orms-textarea > .orms-textarea-label {
    transition: top .2s;
  }

  .orms-textarea > textarea:focus + .orms-textarea-label,
  .orms-textarea > textarea:valid + .orms-textarea-label {
    top: -16px;
  }

  .custom-scrollbar::-webkit-scrollbar {
    height: 5px !important;
    background-color: transparent;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
  	border-radius: 10px;
    background-color: var(--line-color);
  } 
}